{%  extends 'base.html' %}


{%  block content %}

<form action = "" method = "post" novalidate>
{{ form.csrf_token }}
    <p>
    {{ form.SiteName.label }}
    {{ form.SiteName(size=10) }}
    </p>
<p>
    {{ form.serverName.label }}
    {{ form.serverName(size=15) }}
</p>
    <p>
    {{ form.IPAddress.label }}
    {{ form.IPAddress(size=15) }}
    </p>
<p>
    {{ form.OS.label }}
    {{ form.OS(size=10) }}
</p>
    {{ form.HOST_IP.label }}
    {{ form.HOST_IP(size=20) }}
    <p>
    {{ form.HOSTType.label }}
    {{ form.HOSTType(size=10) }}
    </p>
<p></p>
    {{ form.HOST_ILOM_IP.label }}
    {{ form.HOST_ILOM_IP(size=20) }}
</p>
<input type="submit" value="AddServer">


</form>

{% endblock %}

    <!--   self.SiteName = SiteName
    self.serverName = serverName
    self.IPAddress = IPAddress
    self.os = OS
    self.HOST_IP = HOST_IP
    self.HOSTType = HOSTType
    self.HOST_ILOM_IP = HOST_ILOM_IP
    self.Date_Added = Date_Added-->