{% extends 'navbar.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <form method="POST">
        <h3 align="center">Add New Site</h3>
        <div class="form-group">
            <label for="siteName"> Site Name</label>
            <input type="text" class="form-control" id="siteName" name="siteName" placeholder="Enter Site Name" autofocus/>
        </div>
        <div class="form-group">
            <label for="SysAdminName"> Responsible SysAdmin</label>
            <input type="text" class="form-control" id="SysAdminName" name="SysAdminName" placeholder="Enter SyYAdmin Name"/>
        </div>
        <div class="form-group">
            <label for="SysAdminPhone"> Responsible SysAdmin Cellphone</label>
            <input type="tel" class="form-control" id="SysAdminPhone" name="SysAdminPhon" placeholder="Enter SyYAdmin Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
        </div>

        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
/*
class Sites(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    SiteName = db.Column(db.String(30))
    SysAdminName = db.Column(db.String(10))
    user_id = db.Column(db.Integer, db.ForeignKey('users.id'))
/*